build*
*.swp
*~
.gdb_history
/build
gdb.txt
/cmake-*
/.vs/seasocks/v17/Preview/ipch/AutoPCH/12b338f96d49c9bd/RESPONSE.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/1c010f6eac7f6224/REQUEST.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/1f96bca4259b2945/CONNECTIONTESTS.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/207156bb48ece52e/WS_CHATROOM.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/21f3ee22e8bbee58/SERVERTESTS.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/29f8a117009ea0eb/CORECRT_STARTUP.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/31deb125cdc2ec06/MULTISERVER.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/43f57144873d066a/WS_ECHO.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/5b4fe10cf53203a2/HTMLTESTS.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/6a172ed0853c1ca9/WIN_GETOPT.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/76819ebdf3b3695a/HYBIACCEPT.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/7959c27ca6922dd1/WEPOLL.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/86ec36dbdefca5e2/ZLIBCONTEXT.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/92d2cd819256b925/SERVE.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/de19afb76b58fb8b/CORECRT_STARTUP.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/d968441e9e1d11f/CRACKEDURI.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/d1fe537e37b62cb4/HYBIACCEPT.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/cca3db8471326121/SERVER.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/cbbbd1f452fd386e/WIN_GETOPT2.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/c7426da4a6d105fb/STRINGUTIL.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/a55df52594bf82e6/CONNECTION.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/a164f822feae551b/WS_TEST_POLL.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/9d7816ae84f9e5b5/HEADERMAP.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/9c1dfa141dd75a76/HYBIPACKETDECODER.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/fba58e22d67e33ff/PH_TEST.ipch
/.vs/seasocks/v17/Preview/ipch/AutoPCH/e3b9b4faace5f0a3/WIN_GETOPT.ipch
/.vs/seasocks/v17/Preview/Browse.VC.opendb
/.vs/seasocks/v17/Preview/Browse.VC.db-wal
/.vs/seasocks/v17/Preview/Browse.VC.db-shm
/.vs/seasocks/v17/Preview/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/seasocks/v17/.suo
/.vs/seasocks/project-colors.json
/.vs/ProjectSettings.json
/.vs/cmake.db
/.vs/CMake Overview
